:root {
    --main-bg-color: #2c74e8;
    --main-bg-hover-color: #1966e2;
    --main-bg-text-color: #ffffff;
    --mainbg-text-hover-color: #f2f2f2;
    --white-background: #ffffff;
    --checkmark-color: lightgreen;
    --cross-color: darkred;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--white-background);

    font-family: Arial, Helvetica, sans-serif;
}

header {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    width: 100%;
    height: 30px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-flow: wrap;
}

header div.window-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

header div.window-icons i:hover {
    cursor: pointer;
    color: var(--mainbg-text-hover-color);
}

header div.window-icons i.fa-window-close {
    margin: 0 0.5em 0 0.5em;
}

header div {
    flex: 0 0 50%;
}

header div.title {
    display: flex;
    color: var(--main-bg-text-color);
    
}

header div.title span {
    padding-left: 1em;
    align-self: center;
}

header div .fas {
    -webkit-app-region: no-drag;
    color: var(--main-bg-text-color);
    font-size: 1em;
}

.checkcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.checkcont i {
    color: var(--checkmark-color);
    font-size: 3em;
    font-size: 15em;
}

.checkcont h1 {
    margin: 0;
    font-size: 3em;
}

.button:hover {
    cursor: pointer;
    background-color: var(--main-bg-hover-color);
}

.button {
    height: 5em;
    width: 10em;
    background-color: var(--main-bg-color);
    color: var(--main-bg-text-color);
    text-align: center;
    border: none;
    font-size: 12pt;
}

.buttoncontainer {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height: 7em;
}