.checkcont {
    text-align: center;
    font-size: 200px;
    color: lightgreen;
}

h1 {
    text-align:center;
}

.butt {
    height: 50px;
    width: 75px;
    padding: 50px;
    border: 5px;
    border-color: black; 
}